body {
    background-color: black;
    background-image: url('resources/background.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: cover;
    color: #dddddd;
    font-family: segoe ui;
}

* {
    box-sizing: border-box;
}

header {
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: white;
}

nav {
    float: left;
    width: 20%;
    background: #777777;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-family: segoe ui;
    
}

article {
    float: left;
    padding: 20px;
    width: 100%;
    background-color: #232323;
    font-family: segoe ui;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

.clearfix {
    overflow: auto;
}

footer {
    position: relative;
    background-color: black;
    padding: 100px;
    text-align: center;
    color: white;
}

.logo {
    position: absolute;
    bottom: 20px;
    left: 16px;
}

.cons {
    position: absolute;
    bottom: 20px;
    right: 16px;
}

@media (max-width: 900px) {
    nav, article {
      width: 100%;
      height: auto;
    }
    h1 {
        font-size: 3vw;
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 4.5vw;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 4.5vw;
    }
}

h1 {
    color: white;
    font-family: verdana;
}

h2 {
    color: white;
    font-family: verdana;
}

h3 {
    font-size: 20px;
    color: hsl(204, 40%, 87%);
    font-family: verdana;
}

h4 {
    font-size: 19px;
    color: hsl(204, 40%, 87%);
    font-family: verdana;
}

h5 {
    font-size: 18px;
    color: hsl(204, 40%, 87%);
    font-family: verdana;
}

p {
    font-size: 17px;
    color: #dddddd;
    font-family: segoe ui;
}

a {
    color: white; 
    font-family: segoe ui;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

blockquote {
    color: #dddddd;
    border:2px solid lightgray;
    font-size: 15px;
    padding: 12px;
    margin: 18px;
}

address {
    padding-top: 24px;
    font-size: 15px;
    color: #dcdcdc;
}

area {
    cursor: pointer;
}

table {
    width: 35%;
    border-style: dotted;
    border-collapse: collapse;
    border: 1px solid white;
}

tr:nth-child(even) {
    background-color: #232323;
}

th, td {
    text-align: left;
    border-style: dotted;
    border: 1px solid white;
}

ul {
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #777777;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #232323;

}

#div1, #div2 {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
}