body {
    background-color: black;
    background-image: url('resources/background.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: cover;
    color: #dddddd;
    font-family: segoe ui;
    padding: 16px;
}
h1 {
    color: white;
    font-family: verdana;
}
h2 {
    color: white;
    font-family: verdana;
}
h3 {
    font-size: 20px;
    color: hsl(204, 40%, 87%);
    font-family: verdana;
}
h4 {
    font-size: 19px;
    color: hsl(204, 40%, 87%);
    font-family: verdana;
}
h5 {
    font-size: 18px;
    color: hsl(204, 40%, 87%);
    font-family: verdana;
}
p {
    font-size: 17px;
    color: #dddddd;
    font-family: segoe ui;
}
a {
    color: white; 
    font-family: segoe ui;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
blockquote {
    color: #dddddd;
    border:2px solid lightgray;
    font-size: 15px;
    padding: 12px;
    margin: 18px;
}
address {
    padding-top: 24px;
    font-size: 15px;
    color: #dcdcdc;
}
table {
    width: 35%;
    border-style: dotted;
    border-collapse: collapse;
    border: 1px solid white;
}
tr:nth-child(even) {
    background-color: #232323;
}
th, td {
    text-align: left;
    border-style: dotted;
    border: 1px solid white;
}
ul {
    font-size: 17px;
}