body {
    background-color: black;
    background-image: url('resources/background.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    background-size: cover;
    color: #dddddd;
    font-family: segoe ui;
}

* {
    box-sizing: border-box;
}
header {
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: white;
}

nav {
    float: left;
    width: 17%;
    background: #777777;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    font-family: segoe ui;
}

article {
    float: left;
    padding: 20px;
    width: 83%;
    background-color: #232323;
    font-family: segoe ui;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

.clearfix {
    overflow: auto;
}

footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}

@media (max-width: 900px) {
    nav, article {
      width: 100%;
      height: auto;
    }
    h1 {
        font-size: 3vw;
    }
}

@media (max-width: 750px) {
    h1 {
        font-size: 4.5vw;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 4.5vw;
    }
}

h1 {
    color: white;
    font-family: verdana;
}

h2 {
    color: white;
    font-family: verdana;
}

h3 {
    font-size: 20px;
    color: hsl(204, 40%, 87%);
    font-family: verdana;
}

h4 {
    font-size: 19px;
    color: hsl(204, 40%, 87%);
    font-family: verdana;
}

h5 {
    font-size: 18px;
    color: hsl(204, 40%, 87%);
    font-family: verdana;
}

p {
    font-size: 17px;
    color: #dddddd;
    font-family: segoe ui;
}

a {
    color: white; 
    font-family: segoe ui;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

blockquote {
    color: #dddddd;
    border:2px solid lightgray;
    font-size: 15px;
    padding: 12px;
    margin: 18px;
}

address {
    padding-top: 24px;
    font-size: 15px;
    color: #dcdcdc;
}

area {
    cursor: pointer;
}

table {
    width: 35%;
    border-style: dotted;
    border-collapse: collapse;
    border: 1px solid white;
}

tr:nth-child(even) {
    background-color: #232323;
}

th, td {
    text-align: left;
    border-style: dotted;
    border: 1px solid white;
}

ul {
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    position: sticky;
    top: 0;
}

li {
    float: left;
    position: sticky;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #232323;

}

#div1, #div2 {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
}
